name: CI Main Branch

on:
  push:
    branches:
      - main

jobs:
  debian:
    name: Generate Debian package
    runs-on: ubuntu-latest
    container:
      image: lopoeisr/make-gcc:latest
      options: --user root
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Create package
      run: make && make package-deb
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: nanologger.deb
        path: "*.deb"
  arch:
    name: Generate Arch package
    runs-on: ubuntu-latest
    container:
      image: lopoeisr/arch-make:latest
      options: --user root
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Create package
      run: |
          sudo chown -R developer:developer .
          sudo -u developer make 
          sudo -u developer make package-arch
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: nanologger.pkg.tar.zst
        path: "*.pkg.tar.zst"
  rpm:
    name: Generate RPM package
    runs-on: ubuntu-latest
    container:
      image: lopoeisr/rpm-make:latest
      options: --user root
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Create package
      run: make && make package-rpm
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: nanologger.rpm
        path: "*.rpm"

  publish-aur:
    name: Publish Arch package to israel-aur repo
    runs-on: ubuntu-latest
    needs: [arch]
    steps:
    - name: Download Arch package artifact
      uses: actions/download-artifact@v4
      with:
        name: nanologger.pkg.tar.zst

    - name: Checkout destination repo (israel-aur)
      uses: actions/checkout@v4
      with:
        repository: israellopezdeveloper/israel-aur
        token: ${{ secrets.AUR_REPO_TOKEN }}
        path: israel-aur

    - name: Copy package into x86_64
      run: |
        mkdir -p israel-aur/x86_64
        cp -f nanologger*.pkg.tar.zst israel-aur/x86_64/

    - name: Commit & push
      run: |
        cd israel-aur
        git config user.name  "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

        git add x86_64/nanologger*.pkg.tar.zst

        # Evita fallo si no hay cambios reales
        git diff --cached --quiet && echo "No changes to commit" && exit 0

        git commit -m "Update nanologger package from CI (${GITHUB_REPOSITORY}@${GITHUB_SHA})"
        git push
